## .NET
bin/
obj/
*.user
*.suo
*.cache
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
publish/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.rsuser
*.sln.docstates

## Rider
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
